.shop {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.shop>div {
  margin: 0 auto;
  text-align: center;
}

img {
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

@media (max-width: 768px) {

  .shop {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 458px) {

  .shop {
    grid-template-columns: 1fr;
  }

}