.shop {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.shop>div {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.shop-pages {
  text-align: center;
  padding: 0.5rem;
}

.shop-pages a {
  background-color: rgb(230, 230, 230);
  text-align: center;
  padding: 0.2rem;
  margin: 0.3rem;
}


.shop-pages a:hover {
  background-color: rgb(177, 177, 177);
}

img {
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
}

.disabled-link {
  pointer-events: none;
  color: slategray;
}

@media (max-width: 900px) and (min-width:769px) {

  .shop {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 768px) {

  .shop {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 458px) {

  .shop {
    grid-template-columns: 1fr;
  }

}