.about-container {
  text-align: center;
  padding: 2rem;
  max-width: 50%;
}

.logo {
  border-radius: 50%;
  width: 150px;
  height: 150px;

}

@media (max-width: 768px) {

  .about-container {
    max-width: 90%;
  }
}