.live-chat-window {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: var(--bgBlack);
  display: flex;
  flex-direction: column;
}

.live-chat-messages {
  height: 300px;
  width: 300px;
  background-color: var(--textWhite);
  margin: 0 auto;
  padding: 0.5rem;
}

.live-chat-window input {
  width: 100%;
  margin-top: 0.3rem;
  padding: 1rem;
}

.live-chat-close {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 1.5rem;
}

.live-chat-send {
  position: absolute;
  bottom: 30px;
  right: 25px;
}