nav {
  background-color: var(--bgBlack);
  color: var(--textWhite);
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 60px;
  margin: 0.5rem 0;
}

.nav-links {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.nav-links-dekstop {
  display: flex;
}

.nav-links a {
  padding: 1.2rem;
}

.nav-links a:hover {
  background-color: var(--hoverBlack);
}

.nav-bars,
.nav-close {
  display: none;
}

.slide-left {
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.greet-user {
  background-color: var(--textYellow);
  color: black;
  text-align: center;
  margin-bottom: 0;
}


@media (max-width: 768px) {

  .nav-container {
    padding: 2rem;
  }

  .nav-logo {
    height: 40px;
    margin: 0.2rem 0;
  }

  .nav-links-dekstop {
    display: none;
  }

  .nav-bars,
  .nav-close {
    font-size: 2rem;
    display: block;
    position: relative;
    transition: 0.3s;
  }

  .show-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -100px;
    padding: 3rem;
    background-color: hsl(218, 100%, 16%);
    box-shadow: -5px 9px 37px -10px rgba(0, 0, 0, 1);
  }

}


@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100px);
  }
}