footer {
  background-color: var(--bgBlack);
  color: var(--textWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;

  text-transform: uppercase;
}

.footer-links ul li {
  color: var(--textWhite);
  font-weight: 900;
  padding: 0.3rem;

}

.footer-links ul li:hover {
  cursor: pointer;
  background-color: var(--textWhite);
  color: var(--bgBlack);
  padding: 0.3rem;
}

.footer-social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
  margin-bottom: 2rem;
}

.footer-social-links ul li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.753);
}

@media (max-width: 768px) {

  .footer-links {
    text-align: center;
    align-items: center;
  }

  .footer-links ul {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
  }

}