footer {
  height: 10rem;
  background-color: var(--bgBlack);
  color: var(--textWhite);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}

.footer-social-links ul li:hover {
  cursor: pointer;
}